@keyframes rotateAnimation {
	0% {
	  transform: rotateX(0);
	}
	100% {
	  transform: rotateX(360deg);
	}
  }
  
.navbar-brand {
	display: inline-block;
	animation: rotateAnimation 10s infinite linear;
	background-color: #333;
	color: #fff;
	padding: 10px 20px;
	font-size: 24px;
	border-radius: 10px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 1.5);
  
  }

  .navbar {
	background-color: #f8f9fa;
	padding: 1rem 2rem;
	border-bottom: 1px solid #dee2e6;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
	font-weight: bold;
	font-size: 20px;
  }

  .navbar-nav .nav-item .nav-link {
	color: #343a40;
	font-weight: 500;
	transition: color 0.3s ease-in-out;
	position: relative;
	font-weight: bold;
  
  
  }
/* Estilos para los enlaces de la lista del navbar */
.navbar-nav .nav-link {
	transition: all 0.3s ease; /* Transición suave */
}

/* Estilos para el efecto hover */
.navbar-nav .nav-link:hover {
	background-color: #e9ecef; /* Color de fondo al pasar el cursor */
	border-radius: 0.25rem; /* Bordes redondeados */
	padding: 0.5rem 1rem; /* Espaciado interno */
}


button {
	font-size: 100%;
	margin: 0 2px;
}

div[ng-reflect-ng-switch], app-unknown-item {
  margin: .5rem 0;
  display: block;
}

#noTrackByCnt,
#withTrackByCnt {
	color: darkred;
	max-width: 450px;
	margin: 4px;
}

img {
	height: 100px;
}

.box {
	border: 1px solid black;
	padding: 6px;
	max-width: 450px;
}

.child-div {
	margin-left: 1em;
	font-weight: normal;
}

.context {
	margin-left: 1em;
}

.hidden {
	display: none;
}

.parent-div {
	margin-top: 1em;
	font-weight: bold;
}

.course {
	font-weight: bold;
	font-size: x-large;
}

.helpful {
	color: red;
}

.saveable {
	color: limegreen;
}

.study,
.modified {
  font-family: "Brush Script MT", cursive;
  font-size: 2rem;
}

.toe {
	margin-left: 1em;
	font-style: italic;
}


.to-toc {
	margin-top: 10px;
	display: block;
}


