.table-container {
    transition: transform 0.3s ease-in-out;
    background-color: #c9d0db; /* Color azul claro */
  }
  
  .table-container:hover {
    transform: scale(1.05); /* Aumenta el tamaño al pasar el mouse */
  }
  
  .close:hover {
    color: red; /* Cambia de color al pasar el mouse */
  }
  